.head{
    position: absolute;
width: 1512px;
height: 560px;
left: 0px;
top: 0px;
}

.image{
    position: absolute;
    width: 1538px;
    height: 560px;
    left: 0px;
    top: 0px;
    background: url(../public/assets/hawai-image2.jpg), #D9D9D9;
}

.text{
    /* Welcome to Hawaii */
position: absolute;
width: 724px;
height: 264px;
left: 394px;
top: 176px;
font-family:'Times New Roman', Times, serif;
font-style: normal;
font-weight: 700;
font-size: 140px;
line-height: 132px;
/* or 94% */
display: flex;
align-items: center;
text-align: center;
background: linear-gradient(180deg, rgba(255, 255, 255, 0.5) 6.44%, #FFFFFF 95.08%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;

}

.topbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 24px;
    gap:240px;
    position:absolute;
    width: 1136px;
    height: 80px;
    left: 188px;
    top:24px;
    background:#FFFFFF;
    border-radius: 12px;
}

.menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 80px;
    width: 508px;
    height: 35.16px;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.menuitems{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 40px;
    width: 334px;
    height: 20px;
    flex: none;
    order:1;
    flex-grow: 0;
}
.home{
    width: 39px;
    height: 20px;
    font-family: 'IBM Plex Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #001A1A;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.surfing{
    width: 68px;
    height: 20px;
    font-family: 'IBM Plex Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #001A1A;
    flex: none;
    order: 1;
    flex-grow: 0;
}
.hula{
    width: 39px;
    height: 20px;
    font-family: 'IBM Plex Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #001A1A;
    flex: none;
    order: 2;
    flex-grow: 0;
}
.vulcano{
    width: 68px;
    height: 20px;
    font-family: 'IBM Plex Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #001A1A;
    flex: none;
    order: 3;
    flex-grow: 0;
}
.button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 9px 24px 11px;
    width: 128px;
    height: 40px;
    background: #008080;
    border-radius: 8px;
    cursor: pointer;
    flex: none;
    order: 1;
    flex-grow: 0;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
}
.trip{
    width: 80px;
    height:20px;
    font-family: 'Greyliff CF';
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    font-style: normal;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.highlights{
    position: absolute;
    width: 1136px;
    height: 384px;
    left:188px;
    top: 600px;

}
.heading{
font-family: 'IBM Plex Mono';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 20px;
color: #001A1A;

}

.tile{
    /* display: grid;
  grid-template-columns: 50px 50px;
  grid-gap: 10px; */
    /* display: flex; */
display: inline-grid;
margin-right: 10px;
flex-direction: column;
align-items: flex-start;
padding: 0px;
width: 368px;
height: 340px;
left:956px;
top:644px;
background: #FFFFFF;
box-shadow: 0px 0px 16px rgba(0, 128, 128, 0.16);
border-radius: 8px;

}
.rectangle{
width: 368px;
height: 170px;
/* background: url(); */
border-radius: 0px;
flex: none;
order: 0;
flex-grow: 0;
}
.textbox{
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: flex-start;
padding: 24px;
width: 368px;
height: 170px;
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
}
.top{
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 16px;
width: 318px;
height: 56px;
flex: none;
order: 0;
flex-grow: 0;
}

.title{
height: 20px;
font-family: 'IBM Plex Mono';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 20px;
color: #008080;
flex: none;
order: 0;
flex-grow: 0;   
 /* width: 50%;
float: left;
padding: 20px;
border: 2px solid red; */
}

.desc{
    width: 318px;
    height: 40px;
    font-family: 'IBM Plex Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #001A1A;
    flex: none;
    order: 1;
    flex-grow: 0;
}
.bottom{

display: flex;
flex-direction: row;
justify-content: flex-end;
align-items: flex-start;
padding: 0px;
width: 320px;
height: 80px;
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;

}

.group{
width: 40px;
height: 40px;
flex: none;
order: 0;
flex-grow: 0;
cursor: pointer;
}

.arrow{
width: 16px;
height: 16px;
left: 504px;
top: 26px;
background: #008080;
}
.ellipse{
width: 40px;
height: 40px;
left: 280px;
top: 0px;
background: #E6F2F2;
}
.section{
    position: absolute;
    width: 1546px;
    height: 528px;
    left: -1px;
    top: 1064px;
    background: #E6F2F2;
}
.categories{
    height: 90px;
    
}
.categoriestext{
/* width: 106px;
height: 20px;
left: 188px;
top: 1104px; */

padding-top: 20px;
font-family: 'IBM Plex Mono';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 20px;
color: #001A1A;
margin-left: 189px;

}

.item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    gap: 10px;
    width: 544px;
    margin-left: 189px;
    height: 35px;
    background: #FFFFFF;
    border-radius: 8px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}
.name{
    width: 87px;
height: 20px;
/* font-family: 'IBM Plex Mono'; */
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;
color: #001A1A;
flex: none;
order: 0;
flex-grow: 0;
}
.footer{
    /* position: flex; */
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: white;
    background: #001A1A;

    text-align: center;
    padding: 3px;
    background-color: DarkSalmon;
    color: white;

}

.travelguide{
    position: absolute;
    width: 560px;
    height: 212px;
    left: 800px;
    top: 1154px;

}
.container{
    height:176px;
    background: #FFFFFF;
    border-radius: 8px;

}
.Button{
    position: absolute;
    margin-top: 40px;
    width: 107px;
    height: 40px;
    left: 30px;
    top: 95px;
    border: 1px solid #008080;
    border-radius: 8px;
    cursor: pointer;
}
.travelguidetext{    
    font-family: 'IBM Plex Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #001A1A;
} 

.Malone{

    margin-left: 20px;
    margin-top: 10px;
    padding-top: 20px;
font-family: 'IBM Plex Mono';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 20px;

color: #001A1A;
}

.textdata{

    margin-left: 15px;
    padding: 5px;
    font-family: 'IBM Plex Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;

    color: #001A1A;

}

.guideimage{
    margin-top:-50px;
    margin-left: 30px;
    padding-left: 350px;
}